@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Itim&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #1e2828;
}

.container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.container > .middle-bar {
  grid-column: 3/10;
  place-items: center;
  height: auto;
  border-radius: 1em;
  background-color: aliceblue;
  border: 2px solid rgb(12, 23, 18);
  margin: 2em;
}

.middle-bar .bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2em;
}
.middle-bar .bar .elem {
  display: flex;
  width: 25em;
  height: auto;
  margin: 1em;
  align-items: center;
  justify-content: center;
}
.elem img {
  width: 100%;
  height: auto;
  border-radius: 1em;
}
.container > .middle-bar > .name-of-public {
  font-size: 7em;
  color: rgb(12, 23, 18);
  margin: 0.1em;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 0.1em solid #ccc;
  border-radius: 0.7em;
  text-align: center;
}

.container > .middle-bar .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -2em;
  font-size: 2em;
  font-family: "Caveat", cursive;
  color: rgb(104, 121, 105);
  width: 7.5em;
}

button {
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
}

button:hover {
  background-color: #4cae4c;
}

.container > .for-post {
  grid-column: 3/10;
  place-items: center;
  height: auto;
  border-radius: 1em;
  background-color: aliceblue;
  border: 2px solid rgb(12, 23, 18);
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.container > .middle-bar .posts {
  display: flex;
  font-size: 2em;
  font-family: "Oswald";
  color: rgb(12, 23, 18);
  align-items: center;
  justify-content: center;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.container > .for-post .post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40em;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-direction: column;
}

.post .text {
  display: block;
  text-align: center;
  width: 80%;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 2em;
  font-family: "Oswald";
  color: rgb(12, 23, 18);
}

.post .for-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  height: auto;
  width: auto;
}

.post .heart-button {
  font-size: 2em;
  color: white;
  text-shadow: -2px -2px 0 rgb(12, 23, 18), 2px -2px 0 rgb(12, 23, 18),
    -2px 2px 0 rgb(12, 23, 18), 2px 2px 0 rgb(12, 23, 18); /* Черные грани */
  background-color: transparent; /* Прозрачный фон */
  border: none; /* Убираем стандартную рамку */
  cursor: pointer; /* Указатель при наведении */
  outline: none; /* Убираем обводку при фокусе */
  transition: transform 0.2s; /* Плавный эффект при наведении */
}

.container > .middle-bar-options {
  grid-column: 3/10;
  place-items: center;
  height: auto;
  border-radius: 1em;
  background-color: aliceblue;
  border: 2px solid rgb(12, 23, 18);
  margin-left: 2em;
  margin-right: 2em;
}

a {
  text-decoration: none; /* Убираем подчеркивание */
  color: rgb(12, 23, 18);
}

a:hover {
  color: rgb(65, 191, 132);
}

.container .middle-bar-options .for-crud {
  display: flex;
  font-size: 2em;
  font-family: "Oswald";
  color: rgb(12, 23, 18);
  align-items: center;
  justify-content: center;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  flex-direction: row;
}

.container .middle-bar-options .for-crud div {
  margin-left: 0.5em; /* Отступы между внутренними div */
  margin-right: 0.5em;
}

.post .heart-button:hover,
.post .heart-button.active {
  transform: scale(1.1); /* Увеличение при наведении */
  color: red;
}

.post .dislike-button {
  font-size: 3em;
  color: white;
  text-shadow: -2px -2px 0 rgb(12, 23, 18), 2px -2px 0 rgb(12, 23, 18),
    -2px 2px 0 rgb(12, 23, 18), 2px 2px 0 rgb(12, 23, 18); /* Черные грани */
  background-color: transparent; /* Прозрачный фон */
  border: none; /* Убираем стандартную рамку */
  cursor: pointer; /* Указатель при наведении */
  outline: none; /* Убираем обводку при фокусе */
  transition: transform 0.2s; /* Плавный эффект при наведении */
}

.post .dislike-button:hover,
.post .dislike-button.active {
  transform: scale(1.1); /* Увеличение при наведении */
  color: yellow;
}

.post img {
  margin: 2em;
  width: auto;
  height: 70%;
  border-radius: 1em;
}
.container blockquote {
  margin-top: 0;
  margin-bottom: 0;
}
.centered {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.container h2 {
  margin: 0;
  padding: 0;
}
