<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MАТ F*CK</title>
    <link rel="stylesheet" type="text/css" href="resources\css\user.css" />
    <link rel="icon" type="image/x-icon" href="resources/favicon.ico" />
  </head>

  <body>
    <div class="container">
      <div class="middle-bar">
        <div class="name-of-public"><h2>MАТ F*CK</h2></div>
        <div class="bar">
          <div class="elem">
            <img src="resources\mathboss.jpg" alt="" />
          </div>
          <div class="elem">
            <div class="description">
              <h2><q class="centered">&nbsp;</q></h2>
              <blockquote>
                Значение A называется пределом (предельным значением) функции
                f(x) в точке x0, если для любого наперёд взятого положительного
                числа ε найдётся отвечающее ему положительное число δ = δ(ε)
                такое, что для всех аргументов x, удовлетворяющих условию 0 < |x
                − x0| < δ, выполняется неравенство: |f(x) − A| < ε
              </blockquote>
              <br />
              (c) mathboss
            </div>
          </div>
        </div>
      </div>

      <div class="middle-bar-options">
        <div class="for-crud">
          <div><a href="/createPost">Создать</a></div>
          <div><a href="#">Выйти</a></div>
        </div>
      </div>

      <div class="middle-bar">
        <div class="posts"><b>Посты сообщества</b></div>
      </div>
      {{range .PostsWithLike}}
      <div class="for-post">
        <div class="post">
          <div class="text">
            {{if .Content.Valid}}{{.Content.String}}{{end}}
          </div>
          <img src="{{.ImagePath}}" alt="" />
          <div class="for-buttons">
            <button
              class="heart-button {{if .LikeId.Valid}}active{{end}}"
              {{if.LikeId.Valid}}id="like-{{.LikeId.Int64}}"
              {{end}}
            >
              &#10084;
            </button>
            <button class="delete-button" id="post-{{.Id}}">&#x1F5D1;</button>
          </div>
        </div>
      </div>
      {{end}}
    </div>

    <script>
      // TODO Переписать когда будут состояния лайка в базе
      // Получаем все посты
      const posts = document.querySelectorAll(".for-post");

      posts.forEach((post) => {
        const heartButton = post.querySelector(".heart-button");
        const deleteButton = post.querySelector(".delete-button");
        let idPost = deleteButton.id;
        if (idPost.startsWith("post-")) {
          // Убираем префикс "post-"
          idPost = idPost.slice(5);
        }
        const url = `/deletePost?idPost=${encodeURIComponent(idPost)}`;

        heartButton.addEventListener("click", function () {
          // Если лайк активен, убираем его активное состояние
          if (heartButton.classList.contains("active")) {
            heartButton.classList.remove("active");
          } else {
            heartButton.classList.toggle("active");
          }
        });

        deleteButton.addEventListener("click", function () {
          if (deleteButton.classList.contains("active")) {
            deleteButton.classList.remove("active");
          } else {
            deleteButton.classList.toggle("active");
            fetch(url, { method: "POST" })
              .then((response) => {
                if (response.ok) {
                  return response.text();
                } else {
                  throw new Error("Ошибка удаления");
                }
              })
              .then((data) => {
                // Обработка успешного ответа
                alert(`Удаление прошло успешно: ${data}`);
                window.location.href = "/";
              })
              .catch((error) => {
                // Обработка ошибки
                console.error("Ошибка:", error);
                alert("Не удалось удалить пост");
              });
          }
        });
      });
    </script>
  </body>
</html>
